.past_shows {
    ul {
        list-style: none;
        padding-left: 0;
    }
    .year {
        padding: 10px;
        margin-bottom: 5px;
        height: 40px;
        background: $light-grey;
        position: relative;
        font-weight: bold;
        cursor: pointer;
        &:after {
            content: '+';
            position: absolute;
            height: 40px;
            width: 40px;
            padding-left: 14px;
            padding-top: 2px;
            top: 0;
            right: 0;
            bottom: 0;
            font-size: 24px;
            color: #FFFFFF;
            background: $blue;
        }
        &.open:after {
            content: '-';
            padding-left: 15px;
        }
    }
    .months {
        display: none;
        &.open {
            display: block;
        }
        & .month {
            padding-left: 5px;
            font-weight: bold;
            text-transform: uppercase;
            cursor: pointer;
            font-family: 'Open Sans';
            padding-top: 3px;
            padding-bottom: 3px;
            @media all and (max-width: 991px) {
                
                font-size: 18px;
            }
        }
    }
    .shows {
        display: none;
        &.open {
            display: block;
        }
        & .show {
            padding-left: 5px;
            cursor: pointer;
        }
    }
}