header {
  margin-bottom: 20px;
  height: 300px;
  border-bottom: solid #FFFFFF 2px;
  background: $yellow;
  @media all and (max-width: 991px) {
    height: auto;
  }
  & .logo {
    max-width: 820px;
    width: 100%;
    margin: 60px auto 60px auto; 
    @media all and (max-width: 991px) {
      margin-top: 0;
      padding-top: 100px;
    }
    & img {
      max-width: 100%;
      width: 100%;
      padding: 0 20px 0 20px;
    }
  }
}
nav {
  @media all and (max-width: 991px) {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 80px;
    width: 100%;
    height: 100%;
    background: $yellow;
    z-index: 100;
    &.open {
      display: block;
    }
    & a {
      display: block;
      width: 80%;
      text-align: center;
      font-size: 24px;
      line-height: 75px;
      height: 75px;
      color: #000000;
      padding-bottom: 20px;
      border-top: solid black 1px;
      margin-left: 10%;
      
      &:last-of-type {
        border-bottom: solid black 1px;

      }
    }
  }
  @media all and (min-width: 992px) {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
    & a {
      text-transform: uppercase;
      font-weight: bold;
      color: #000000;
      &.active {
        &:after {
          content: ' ';
          position: absolute;
          width: 100%;
          height: 5px;
          bottom: -5px;
          background: #000000;
        }
      }
    }
  }
}
& .store_link {
  display: block;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  color: #FFFFFF;
  text-transform: uppercase;
  background: $blue;
}
& .hamburger {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  z-index: 101;
  padding-top: 15px;
  padding-left: 15px;
  background: $blue;
  @media all and (min-width: 992px) {
    display: none;  
  }
  & .bar {
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background: #FFFFFF;
  }
}