.upcomming_shows_home {
  table {
    width: 100%;
  }
  td {
    padding-top: 2px;
    padding-bottom: 2px;
  }
  tr.artist {
    & td {
      padding-top: 20px;
      font-weight: bold;
    }
    &:first-of-type {
      td {
        padding-top: 2px;  
      }
    }
  }
}