<section class="past_shows">
    <h2 class="eyebrow">Past Shows</h2>
    <ul class="years">
        <li class="year open">2016</li>
        <ul class="months open">
            <li class="month">January</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">February</li>
            <ul class="shows open">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">March</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">April</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">May</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">June</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">July</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">August</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">September</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">October</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">November</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">December</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
        </ul>
        <li class="year">2015</li>
        <ul class="months">
            <li class="month">January</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">February</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">March</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">April</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">May</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">June</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">July</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">August</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">September</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">October</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">November</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">December</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
        </ul>
        <li class="year">2014</li>
        <ul class="months">
            <li class="month">January</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">February</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">March</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">April</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">May</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">June</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">July</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">August</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">September</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">October</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">November</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">December</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
        </ul>
        <li class="year">2013</li>
        <ul class="months">
            <li class="month">January</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">February</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">March</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">April</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">May</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">June</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">July</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">August</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">September</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">October</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">November</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
            <li class="month">December</li>
            <ul class="shows">
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
                <li class="show">Lorem ipsum</li>
            </ul>
        </ul>
    </ul>
    
</section>