<section class="album_profile">
    <h1 class="eyebrow">Album Name - Artist Name</h1>
    <h2 class="eyebrow">Track Listing</h2>
    <ul>
        <li>1.  Track num 1</li>
        <li>2.  Track num 2</li>
        <li>3.  Track num 3</li>
        <li>4.  Track num 4</li>
        <li>5.  Track num 5</li>
        <li>6.  Track num 6</li>
        <li>7.  Track num 7</li>
    </ul>
    <h2 class="eyebrow">Other Releases</h2>
    <div class="artist_releases">
        <div class="artist_release">
            <a href="release.html">
                <img src="img/image.png" alt="">
            </a>
        </div>
        <div class="artist_release">
            <a href="release.html">
                <img src="img/image.png" alt="">
            </a>
        </div>
        <div class="artist_release">
            <a href="release.html">
                <img src="img/image.png" alt="">
            </a>
        </div>
        <div class="artist_release">
            <a href="release.html">
                <img src="img/image.png" alt="">
            </a>
        </div>
        <div class="artist_release">
            <a href="release.html">
                <img src="img/image.png" alt="">
            </a>
        </div>
    </div>
</section> 