<section class="artist_profile">
    <h1 class="eyebrow">Arist Name</h1>
    <img class="band_photo" src="img/image-wide.png" alt="">
    <h2 class="eyebrow">bio</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium architecto, ea fugit vitae nam officiis? Voluptatibus, saepe sapiente dolores, quaerat doloribus possimus, iste magni aliquam ullam dolorum numquam! Dolorum, provident.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa recusandae numquam blanditiis deserunt odit illo quis et, labore accusamus, iure magnam reiciendis iste eligendi officia explicabo alias deleniti praesentium odio!</p>
    <h2 class="eyebrow">Releases</h2>
    <div class="artist_releases">
        <div class="artist_release">
            <img src="img/image.png" alt="">
        </div>
        <div class="artist_release">
            <img src="img/image.png" alt="">
        </div>
        <div class="artist_release">
            <img src="img/image.png" alt="">
        </div>
        <div class="artist_release">
            <img src="img/image.png" alt="">
        </div>
        <div class="artist_release">
            <img src="img/image.png" alt="">
        </div>
    </div>
</section> 