<section class="home_articles">
  <article>
    <h2 class="eyebrow">August 1, 2016</h2>
    <h1>Article Title #1</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod voluptatibus maiores cupiditate tenetur explicabo. Vero est, dignissimos laboriosam quasi dolores harum optio incidunt iste consequatur quidem inventore molestias, provident omnis.</p>
    <img src="img/image-wide.png" alt="">
    <a href="#" class="btn">Read full story ></a>
  </article>
  <article>
    <h2 class="eyebrow">August 1, 2016</h2>
    <h1>Article Title #1</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod voluptatibus maiores cupiditate tenetur explicabo. Vero est, dignissimos laboriosam quasi dolores harum optio incidunt iste consequatur quidem inventore molestias, provident omnis.</p>
    <img src="img/image-wide.png" alt="">
    <a href="#" class="btn">Read full story ></a>
  </article>
</section>