<section class="new_releases">
  <h2 class="eyebrow">New Releases</h2>
  <div class="release">
    <a href=""><img src="img/image.png" alt=""></a>
  </div>
  <div class="release">
    <a href=""><img src="img/image.png" alt=""></a>
  </div>
  <div class="release">
    <a href=""><img src="img/image.png" alt=""></a>
  </div>
  <div class="release">
    <a href=""><img src="img/image.png" alt=""></a>
  </div>
  <div class="release">
    <a href=""><img src="img/image.png" alt=""></a>
  </div>
  <a class="btn" href="releases.html">More ></a>
</section>