<section class="paginator">
  <div class="page">
    <div class="bar"></div>
    <span class="label">First</span>
  </div>
  <div class="page">
    <div class="bar"></div>
    <span class="label">...</span>
  </div>
  <div class="page">
    <div class="bar"></div>
    <span class="label">02</span>
  </div>
  <div class="page">
    <div class="bar"></div>
    <span class="label">03</span>
  </div>
  <div class="page active">
    <div class="bar"></div>
    <span class="label">04</span>
  </div>
  <div class="page">
    <div class="bar"></div>
    <span class="label">05</span>
  </div>
  <div class="page">
    <div class="bar"></div>
    <span class="label">06</span>
  </div>
  <div class="page">
    <div class="bar"></div>
    <span class="label">...</span>
  </div>
  <div class="page">
    <div class="bar"></div>
    <span class="label">Last</span>
  </div>
</section>