<section class="past_shows">
    <div class="year open">
        <div class="year_wrapper">2016</div>
        <div class="month">
            <div class="month_wrapper">January</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month open">February
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">March</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">April</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">May</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">June</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">July</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">August</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">September</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">October</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">November</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">December</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
    </div>
    <div class="year">
        <div class="year_wrapper">2015</div>
        <div class="month">
            <div class="month_wrapper">January</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">February</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">March</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">April</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">May</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">June</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">July</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">August</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">September</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">October</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">November</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">December</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
    </div>
    <div class="year">
        <div class="year_wrapper">2014</div>
        <div class="month">
            <div class="month_wrapper">January</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">February</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">March</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">April</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">May</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">June</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">July</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">August</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">September</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">October</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">November</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">December</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
    </div>
    <div class="year">
        <div class="year_wrapper">2013</div>
        <div class="month">
            <div class="month_wrapper">January</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">February</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">March</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">April</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">May</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">June</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">July</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">August</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">September</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">October</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">November</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
        <div class="month">
            <div class="month_wrapper">December</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
            <div class="past_show">Lorem Ipsum</div>
        </div>
    </div>
</section>