<section class="release_filter">
    <label for="sort-by">Sort By:</label>
    <select name="sort-by" id="sort-by">
        <option value="artist-name">Artist Name</option>
        <option value="album-name">Album Name</option>
        <option value="release-date">Release Date</option>
    </select>
</section>