<section class="featured_artist">
  <h2 class="eyebrow">Staff Suggests</h2>
  <img src="img/image.png" alt="">
  <h4>The One Thing That Still Holds true</h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto dignissimos exercitationem rem! Pariatur quas eveniet rerum ipsa, sunt ea, voluptate dolor.</p>
  <a class="btn" href="#">$11.99 - Buy Now</a>
</section>