<section class="upcomming_shows_home">
  <h1 class="eyebrow">Upcomming Shows</h1>
  <table>
    <tr class="artist">
      <td colspan="3">Burn</td>
    </tr>
    <tr>
      <td width="15%">08.01.16</td>
      <td width="25%">Richmond, VA</td>
      <td width="60%">United Blood @ The Canal Clumb</td>
    </tr>
    <tr>
      <td>08.01.16</td>
      <td>Richmond, VA</td>
      <td>United Blood @ The Canal Clumb</td>
    </tr>
    <tr class="artist">
      <td colspan="3">Fall Silent</td>
    </tr>
    <tr>
      <td>08.25.16</td>
      <td>Reno, NV</td>
      <td>The Holland Project</td>
    </tr>
    <tr class="artist">
      <td colspan="3">Forced Order</td>
    </tr>
    <tr>
      <td>08.01.16</td>
      <td>Richmond, VA</td>
      <td>United Blood @ The Canal Clumb</td>
    </tr>
    <tr>
      <td>08.01.16</td>
      <td>Richmond, VA</td>
      <td>United Blood @ The Canal Clumb</td>
    </tr>
    <tr>
      <td>08.01.16</td>
      <td>Richmond, VA</td>
      <td>United Blood @ The Canal Clumb</td>
    </tr>
    <tr>
      <td>08.01.16</td>
      <td>Richmond, VA</td>
      <td>United Blood @ The Canal Clumb</td>
    </tr>
    <tr class="artist">
      <td colspan="3">GIVE</td>
    </tr>
    <tr>
      <td>08.01.16</td>
      <td>Richmond, VA</td>
      <td>United Blood @ The Canal Clumb</td>
    </tr>
    <tr>
      <td>08.01.16</td>
      <td>Richmond, VA</td>
      <td>United Blood @ The Canal Clumb</td>
    </tr>
    <tr class="artist">
      <td colspan="3">Right Brigade</td>
    </tr>
    <tr>
      <td>08.01.16</td>
      <td>Richmond, VA</td>
      <td>United Blood @ The Canal Clumb</td>
    </tr>
    <tr>
      <td>08.01.16</td>
      <td>Richmond, VA</td>
      <td>United Blood @ The Canal Clumb</td>
    </tr>
  </table>
</section>