<section class="upcomming_shows_artist">
    <h2 class="eyebrow">Upcomming Shows</h2>
    <div class="show">
        <span class="date">08.01.2016</span>
        <space class="location">Richmond, VA</space>
        <a href="" class="venue">United Blood @ The Cana Club</a>
    </div>
    <div class="show">
        <span class="date">08.02.2016</span>
        <space class="location">Richmond, VA</space>
        <a href="" class="venue">United Blood @ The Cana Club</a>
    </div>
    <div class="show">
        <span class="date">08.03.2016</span>
        <space class="location">Richmond, VA</space>
        <a href="" class="venue">United Blood @ The Cana Club</a>
    </div>
</section>