<div class="vinyl_release">
    <h2 class="eyebrow">Test Press</h2>
    <img src="img/image.png" alt="">
    <img src="img/image.png" alt="">
    <img src="img/image.png" alt="">
    <img src="img/image.png" alt="">
</div>