<header>
  <div class="container">
    <div class="logo">
      <a href="index.html"><img src="img/logo.png" alt=""></a>
    </div>
    <nav class="main_nav">
      <a href="news.html">News</a>
      <a href="artists.html">Artists</a>
      <a href="shows.html">Shows</a>
      <a href="releases.html">Releases</a>
      <a href="vinyl.html">Vinyl</a>
      <a href="contact.html">Contact</a>
    </nav>
    <div class="hamburger">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
    <a href="#" class="store_link">Store</a>
  </div>
</header>