<header>
  <div class="container">
    <div class="logo">
      <a href="#"><img src="#" alt=""></a>
    </div>
    <nav class="main_nav">
      <a href="#">News</a>
      <a href="#">Artists</a>
      <a href="#">Shows</a>
      <a href="#">Releases</a>
      <a href="#">Vinyl</a>
      <a href="#">Contact</a>
    </nav>
    <a href="#" class="store_link">Store</a>
  </div>
</header>